@{
    ViewData["Title"] = "Anasayfa";
}

<div class="text-center">
    <h4>Burası Anasayfa</h4>
    <p class="alert alert-info">
        <strong>ViewData["AnasayfaViewDataVerisi"]:</strong> @ViewData["AnasayfaViewDataVerisi"]
    </p>
    <p class="alert alert-info">
        <strong>ViewBag.AnasayfaViewBagVerisi:</strong> @ViewBag.AnasayfaViewBagVerisi
    </p>
    <p class="alert alert-info">
        <strong>TempData["AnasayfaTempDataVerisi"]:</strong> @TempData["AnasayfaTempDataVerisi"]
    </p>
</div>
